
.footer{
    color: #d9d9d9;
    background-color: #386641;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 8vw;
    padding-top: 80px;
    margin-top: 100px;
}

.footer-content{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr; 
    gap: 80px;
}

.footer-content-left ,  .footer-content-right , .footer-content-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

 .footer-content-right li, .footer-content-center li{
    list-style: none;
    margin-bottom: 10px;
}

 .footer-content-right h2, .footer-content-center h2{
    color: white;
}

.footer-content-left{
    display: flex;
    justify-content: flex-start;
}

.footer-content-left h2 {
    color: white;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    letter-spacing: 1px;   
}

.social-icons{
    display: flex;
    gap: 2em;
    font-size: 1.2em;
    margin-top: 0.8em;
}

@media (max-width:750px) {
    .footer-content {
        display: flex;
        flex-direction: column;
        gap: 35px;
        
    }

    .footer-content-center,
    .footer-content-right {
        align-items: flex-start;
    }

    .footer-copyright {
        text-align: center;
    }

    .footer-content-2{
        display: flex;
       justify-content: space-between;
    }
   
    
}

hr{
   
    border: 1px solid black;
    width: min(50rem, 90%);
    margin: 0 auto;
  
}





